* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    width: 85%;
    margin: auto;
}

h1 {
    font-family: 'Rock Salt', cursive;
}

h2,
h3 {
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;
}

header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, .6);
    padding: 10px;
    box-shadow: 0 8px 3px -2px #111;
    font-size: 18px;
    position: fixed;
    right: 0;
    top: 0;
}

header nav ul li {
    list-style: none;
    transition: all .6s;
}

header nav ul li:hover {
    color: rgb(219, 237, 14);
    transform: scale(1.2);
}

.secao {
    background: #377c6b;
    color: #fff;
    word-spacing: 5px;
    font-size: 18px;
}

.secao1 {
    padding: 50px 30px;
    text-align: left;
    font-weight: 500;
    width: 500px;
    float: left;
}

.imagem-quadrada {
    width: 700px;
    height: 500px;

}

.secao2 {
    display: inline-block;
    padding: 50px;
}

.secao2-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem-redonda {
    margin: 20px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}

.secao3,
.secao2 {
    margin: 20px 0;
}

.secao3 h2 {
    margin-left: 80px;
}

.tabela {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    padding: 5px;
    border: 1px solid #111;
    background: #fff;
    color: #111;
}

th {
    color: #fff;
    background: #666;
}

.formulario {
    display: flex;
    padding: 30px;
}

.secao-form h2 {
    /* margin-left: 80px; */
    padding-top: 30px;
    text-align: center;
}

form {
    width: 350px;
    margin: auto;
}

.section-form {
    display: flex;
    flex-direction: column;
}

.section-form label {
    margin: 5px;
}

.section-form input, textarea {
    padding: 5px;
}

.bts-form {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    margin: 5px;
    padding: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px #111;
    box-shadow: 0 4px 0 #333;
    border: 1px solid #111;
    border-radius: 8px;
    transition: all .5s;
}

.btn:hover{
    color: #171717;
}

.btn:active{
    transform: translateY(4px);
    box-shadow: none;
}

.btn-enviar{
    background-color: #11b80e;
}

.btn-reset{
    background: #b80e0e;
}

footer {
    margin: 20px;
    text-align: center;
    line-height: 28px;
}

footer a {
    color: #111;
}

.icons {
    font-size: 20px;
    margin: 2px;
    padding: 5px;
    border-radius: 8px;
    transition: all 1s;
}

.icons:hover{
    background: #777;
}