* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    width: 85%;
    margin: auto;
}

header  {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, .6);
    padding: 10px;
    box-shadow:0 8px 3px -2px #111;
    font-size: 18px;
    position: fixed;
    right: 0;
    top: 0;
}

header nav ul li {
    list-style: none;
    transition: all .6s;
}

header nav ul li:hover{
    color: rgb(219, 237, 14);
    transform: scale(1.2);
}

img {
    width: 100%;
}

form {
    width: 300px;
}

.section-form {
    display: flex;
    flex-direction: column;
}

.section-form label {
    margin: 5px;
}

.bts-form {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

footer {
    margin: 20px;
    text-align: center;
    line-height: 28px;
}